
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Roboto+Mono:wght@400;500&display=swap');

:root {
  margin: auto;
  font-family: "Roboto Mono", monospace;
  line-height: 1.5;
  font-weight: 400;
  color: whitesmoke;
  background-image: linear-gradient(to left, rgba(112, 112, 112, 0.5), rgb(159, 159, 159, 0.5)), url("/src/img/forest.jpg");
  background-repeat: no-repeat;
  background-size: cover; 

}

.page-header {
  height: 100px;
  border-bottom: solid rgba(255, 255,255, 0.2);
  background-color: rgba(0, 0, 0, 0.2);
  margin-bottom: 1em;

  &__nav {
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

 .page-header__link {
  font-weight: 500;
  color: whitesmoke;
  text-decoration: none;
  padding: 5px 10px;
  border: 1px solid transparent; 
  transition: border-color 0.3s ease; 

 &:hover {
  border: 1px solid rgba(255, 255,255, 0.5);
}
}
}
} 


body {
  display: flex;
  flex-direction: column;
  width: 60%;
  padding: 1em;
  margin: 0 auto;
  min-height: 100vh;
  border-right: solid rgba(255, 255,255, 0.2);
  border-left: solid rgba(255, 255, 255, 0.2);
  overflow-y: scroll; 
  
.main-container {
  flex: 1;
  display: grid;
  grid-gap: 1em;
  grid-template-rows: auto auto auto;
  grid-template-columns: 1fr 1fr 1fr;
  
  .presentation {
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: 1 / 2 / 2 / 3;

    background: transparent;
    backdrop-filter: blur(15px);
    box-shadow: 0 1px 12px rgba(0, 0, 0, 0.25);
    border-radius: 1em;


    &__title {
      text-shadow: 2px 2px 5px rgb(0, 0, 0, 0.5);
      text-align: center;
    }

    &__description {
      text-align: center;
    }
    
  }

  .my-links {
    padding: 1em;
    grid-area: 2 / 2 / 3 / 3;
    display: flex;
    flex-direction: column;
    align-items: center;

    background: transparent;
    backdrop-filter: blur(15px);
    box-shadow: 0 1px 12px rgba(0, 0, 0, 0.25);
    border-radius: 1em;
   
    &__title {
      text-shadow: 2px 2px 5px rgb(0, 0, 0, 0.5);
      text-align: center;
    }

    &__navigation {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      width: 200px;
      height: 100px;
    }
  }

  .about-me {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: 3 / 2 / 4 / 3;
    width: 100%;

    background: transparent;
    backdrop-filter: blur(15px);
    box-shadow: 0 1px 12px rgba(0, 0, 0, 0.25);
    border-radius: 1em;
  
    &__img-container {
      padding: 2em;
      border: solid rgb(255, 255, 255, 0.2);
      border-radius: 1em;

      .about-me__image {
        border-radius: 1em;
        width: 200px;  
      }
    
     
    }
  } 
}

.page-end {
  margin-top: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: solid rgba(255, 255,255, 0.2);
  background-color: rgba(0, 0, 0, 0.2); 
}

}


button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/*@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: rgb(0, 119, 182);
  }
  button {
    background-color: #f9f9f9;
  }
}

*/
